[data-md-color-scheme='skyu'] {
    --md-primary-fg-color: #1c143d;
    --md-primary-fg-color--light: #bbdefb;
    --md-primary-fg-color--dark: #004c8c;
}

.md-tabs {
    background-color: #dc6b33;
}

.md-content {
    margin-bottom: 4rem;
}